<a href="https://colab.research.google.com/github/solfonte/TP1-Taller/blob/main/TPparte1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TP parte 1

In [73]:
import pandas as pd
import numpy as np
import requests
from collections import Counter

In [76]:
with requests.get(
    "https://docs.google.com/spreadsheets/d/1-DWTP8uwVS-dZY402-dm0F9ICw_6PNqDGLmH0u8Eqa0/export?format=csv"
) as r, open("impuestos.csv", "wb") as f:
    for chunk in r.iter_content():
        f.write(chunk)

conversion de variables
missing
reduccion de dimension
etc

In [77]:
df = pd.read_csv("impuestos.csv")
df.head()

   anios_estudiados  ...                    trabajo
0                17  ...            entretenimiento
1                17  ...          directivo_gerente
2                13  ...                  limpiador
3                11  ...                  limpiador
4                17  ...  profesional_especializado

[5 rows x 13 columns]